body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.card {
  border: 5px double #999;
  float: left;
  font-size: 12px;
  line-height: 100px;
  height: 120px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 90px;
}

.card-front img {
display:block;		  
margin : auto;
height: 64px;
width: 64px;
margin-top: 8px;
margin-bottom: -30px;
}

.card-front {
  background: #fff;
}
.card-back{
  background: #ddd;
}

.card:focus {
  outline: none;
}

.kbd-navigation .card:focus {
  background: #ddd;
}

.game {
  /*display: flex;*/
  flex-direction: row;
  display: block;
}

.game-info {
  margin-left: 0px;
  margin-bottom: 10px;
}
