body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.card {
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  height: 120px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 90px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.card-front img {
  display:block;		  
  margin : auto;
  height: 64px;
  width: 64px;
}

.card-front {
  background: #fff;
}
.card-back{
  background: #cc3e3e;
}

.card:focus {
  outline: none;
}

.kbd-navigation .card:focus {
  background: #ddd;
}

.game {
  /*display: flex;*/
  flex-direction: row;
  display: block;
}

.game-info {
  margin-left: 0px;
  margin-bottom: 10px;
  display:inline-flex;
  line-height: 40px;
}

button, button:active, button:focus {
		  outline: 0;
		  outline: none !important;
	}

	button::-moz-focus-inner {
			  border: 0;
	}

.reset-btn {
		  border: 0px;
		  background: #960303;
		  padding: 4px 10px;
		  border-radius: 10px;
		  color: white;
		  font-size: 14px;
		  vertical-align: middle;
		  margin-right:10px;
}

.reset-btn:hover {
		  background: #4f010b;
}
